<div class="container-fluid">
  <div class="column">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group mb-2">
        <label for="title">Title</label>
        <input type="text" ngModel name="title">
      </div>
      <div class="form-group mb-2">
        <label for="Content">Details</label>
        <input type="text" ngModel name="content">
      </div>
      <div class="form-group mb-2">
        <button type="submit">Send Post</button>
      </div>
    </form>
    <hr>
    <div class="column">
      <button class="btn btn-primary" (click)="fetchPost()">Fetch Post</button> | 
      <button class="btn btn-danger" (click)="deletePost()">Clear Posts</button>
    </div>
    <div class="m-2" *ngIf="posts.length === 0; else postsList"> 
      <p>No post available</p>
    </div>
    <ng-template #postsList>
      <div class="form-group" *ngFor="let post of posts">
        <p>{{post['title']}}</p>
        <p>{{post['content']}}</p>
      </div>
    </ng-template>
  </div>
</div>